apiVersion: v1
kind: ConfigMap
metadata:
  name: tacokumo-admin-api-config
  labels:
    app.kubernetes.io/name: tacokumo-admin-api
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/version: {{ .Chart.AppVersion }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    helm.sh/chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
data:
  server-config: |
    addr: {{ .Values.api.config.addr }}
    port: {{ .Values.api.config.port }}
    admin_db:
      host: {{ .Values.global.externalServices.postgresql.host }}
      port: {{ .Values.global.externalServices.postgresql.port }}
      user: {{ .Values.global.externalServices.postgresql.username }}
      db_name: {{ .Values.global.externalServices.postgresql.database }}
      initial_conn_retry: 10
    redis:
      host: {{ .Values.global.externalServices.redis.host }}
      port: {{ .Values.global.externalServices.redis.port }}
    github:
      callback_url: {{ .Values.github.oauth.callbackUrl | quote }}
      allowed_orgs: {{ .Values.github.oauth.allowedOrgs | quote }}
    session:
      ttl: {{ .Values.github.session.ttl | quote }}
    cors:
      allow_origins: {{ .Values.api.config.cors.allow_origins | quote }}
      allow_methods: {{ .Values.api.config.cors.allow_methods | quote }}
      allow_headers: {{ .Values.api.config.cors.allow_headers | quote }}
      expose_headers: {{ .Values.api.config.cors.expose_headers | quote }}
      allow_credentials: {{ .Values.api.config.cors.allow_credentials }}
      max_age: {{ .Values.api.config.cors.max_age }}
    tls:
      enabled: {{ .Values.api.config.tls.enabled }}
      {{- if .Values.api.config.tls.enabled }}
      cert_file: /app/certs/api-server.crt
      key_file: /app/certs/api-server.key
      {{- end }}