{{- if .Values.api.rbac.create }}
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ include "tacokumo-portal.fullname" . }}-api
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "tacokumo-portal.labels" . | nindent 4 }}
    app.kubernetes.io/component: api
rules:
  - apiGroups:
      - tacokumo.github.io
    resources:
      - applications
    verbs:
      - get
      - list
      - create
      - watch
  - apiGroups:
      - ""
    resources:
      - secrets
    verbs:
      - get
      - create
      - update
{{- end }}
