crds:
  install: true
controller:
  terminationGracePeriodSeconds: 10
  affinity: {}
  labels: {}
  annotations: 
    kubectl.kubernetes.io/default-container: manager
  securityContext:
    runAsNonRoot: true
    runAsUser: 65532
  podAnnotations: {}
  podLabels: 
    app.kubernetes.io/component: controller
  imagePullSecrets: []
  managerContainer:
    image:
      repository: ghcr.io/tacokumo/portal-controller-kubernetes
      tag: v0.7.1
    extraArgs: []
    livenessProbe:
      httpGet:
        path: /healthz
        port: 8081
      initialDelaySeconds: 15
      periodSeconds: 20
    readinessProbe:
      httpGet:
        path: /readyz
        port: 8081
      initialDelaySeconds: 5
      periodSeconds: 10
    securityContext:
      runAsNonRoot: true
      readOnlyRootFilesystem: true
      allowPrivilegeEscalation: false
      capabilities:
        drop:
        - "ALL"
      seccompProfile:
        type: RuntimeDefault
    resources:
      limits:
        cpu: 500m
        memory: 128Mi
      requests:
        cpu: 10m
        memory: 64Mi
